/* navbar */
.letternavbar{
    font-size: 150%;
}

.firstitemnav{
    margin-left: 20%;
    
}

.navbaritemtext{
    margin-right: 5%;
}

.lastitemnav{
    margin-right: 5%;
}

.imgultimasofer{
    display: flex;
    align-items: center;
    justify-content: center;
}


.vueloimg{
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 5%;
}

.conciertoimg{
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 5%;
}

.hotelimg{
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 5%;
}

.excursionimg{
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 5%;
}