/* navbar */
.letternavbar{
    font-size: 150%;
}

.firstitemnav{
    margin-left: 20%;
    
}

.navbaritemtext{
    margin-right: 5%;
}

.lastitemnav{
    margin-right: 5%;
}

.imgultimasofer{
    display: flex;
    align-items: center;
    justify-content: center;
}


.vueloimg{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

.conciertoimg{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

.hotelimg{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

.excursionimg{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

.lined {
    display: inline-flex;

    margin-top: 1%;
}

.jumbo{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center center;
}

.cont_title{
    padding-left: 4%;
    width: 30%;
    height: 40%;
}

.nolarged{
    width: 80%;
}

.jumboBack
{
    background-color:#1F222D;
}
